/* Global styles */
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #393E46;
  color: #EEEEEE;
}

/* Navbar */
.navbar {
  background-color: #222831;
  color: #EEEEEE;
  padding: 10px;
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: 4rem;
  font-family: 'Roboto Mono', monospace;
}

/* Main container */
.app-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: -360px;
}

.app-container h2 {
  color: #00ADB5;
}

/* Buttons */
.app-container button {
  background-color: #393E46;
  color: #00ADB5;
  font-size: 17px;
  margin: 5% auto;
  padding: 2% 2%;
  font-weight: 550;
  transition-duration: 0.4s;
  border: 2px solid #00ADB5;
  font-family: 'Roboto Mono', monospace;
}

.app-container button:hover {
  background-color: #00ADB5; 
  color: white;
}

/* Input fields */
.app-container input {
  color: #393E46;
  font-size: 18px;
  width: 160px;
  border: 2px solid #00ADB5;
  padding: 5px;
}

.app-container input:first-child {
  margin-right: 20px; 
}

/* Sidebar */
.sidebar {
  padding: 40px;
  width: 350px;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}

.sidebar h2, .sidebar h3 {
  color: #00ADB5;
}

/* Error messages */
.error {
  color: red;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

/* Result box */
.result-box {
  border: 1px solid #00ADB5;
  padding: 10px;
  margin-top: 20px;
  max-width: 400px;
  height: 400px;
  font-size: 18px; 
  margin: 0 auto;
  overflow-y: auto; 
  overflow-x: auto;
  overflow-wrap: break-word;
  line-height: 2;
}

.result-box ul {
  padding: 0;
  white-space: pre-line; 
}

.result-box li {
  display: inline;
  margin-right: 8px;
  padding: 0;
}

.result-box li::before,
.result-box li::after {
  content: "[";
  color: #00ADB5; 
  font-weight: bold; 
}

.result-box li::after {
  content: "]";
}

.result-box button {
  background-color: #00ADB5;
  color: #EEEEEE;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
